@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-4">Welcome to Firstline.24 Health Technology</h6>
    <p>This is the Account Application for registration and login</p>
    <p>Learn more at <a href="https://twitter.com/Firstline24tek" target="_blank">FirstLine.24</a></p>
</div>
